<div class="entry-content">
    <p>Interested in saving on energy in your business?&nbsp;This site has tips, advice and&nbsp;resources
        for companies of all sizes.</p>
    <p>We also showcase best practice&nbsp;in energy efficiency via case studies and resources from Australia and
        overseas.</p>
    <p>Plus, for the latest in energy efficiency news, innovations, events and training opportunities,&nbsp;check out
        our monthly round-up, <strong>eeXtra&mdash;October edition just added!</strong></p>
    <p>We welcome energy-related <a href="/feedback" target="_blank">news and feedback</a>
        from your organisation.</p>
    <hr/>
    <div class="link-list clearfix columns-2 float-none">
        <h3 class="link-list-title">EEX links</h3>
        <ul>
            <li><a href="/search?f[0]=type%3Acase_studies"
                   style="background-image: url(http://eex.govspace.gov.au/files/2016/05/homepage_icon_dial.png) ; "
                   title="Industry case studies">Industry case studies</a></li>
            <li><a href="/programs/"
                   style="background-image: url(http://eex.govspace.gov.au/files/2016/05/homepage_icon_chart.png) ; "
                   title="Business support programs">Business support programs</a></li>
            <li><a href="/search?f[0]=type%3Aopportunities"
                   style="background-image: url(https://eex.govspace.gov.au/files/2016/05/PICTO-LIGHT-BULB-e1416467731474.png) ; "
                   title="Opportunities">Opportunities</a></li>
            <li><a href="/glossary/"
                   style="background-image: url(https://eex.govspace.gov.au/files/2016/05/home-icon-5.png) ; "
                   title="Energy efficiency glossary">Energy efficiency glossary</a></li>
            <li><a href="/search?f[0]=type%3Aadditional_resources"
                   style="background-image: url(https://eex.govspace.gov.au/files/2016/05/picto-resources-b-e1401091652440.png) ; "
                   title="Resources">Resources</a></li>
            <li><a href="/related-websites/"
                   style="background-image: url(https://eex.govspace.gov.au/files/2016/05/picto-links-b-e1401091479462.png) ; "
                   title="Related websites">Related websites</a></li>
        </ul>
    </div>
    <hr/>
    <div class="link-list clearfix columns-1 float-left"><h3 class="link-list-title">Subscribe to updates by field of
        interest:</h3>
        <ul>
            <li><a href="/subscribe"
                   style="background-image: url(https://eex.govspace.gov.au/files/2016/05/subscribe.png) ; padding-left:65px;"
                   title="Subscribe via email or RSS">Subscribe via email or RSS</a></li>
        </ul>
    </div><!-- end .link-list -->
    <div class="link-list clearfix columns-1 float-left">
        <h3 class="link-list-title">Share energy efficiency best practice:</h3>
        <ul>
            <li>
                <a href="/contribute/"
                   style="background-image: url(https://eex.govspace.gov.au/files/2016/05/PICTO-INTRAY-e1416467561106.png) ; padding-left:25px;"
                   title="Contribute to eex.gov.au">Contribute to eex.gov.au</a>
            </li>
        </ul>
    </div>
</div>